@import "tailwindcss";

@theme {
	--color-primary-950: oklch(17.76% 0 0);
	--color-brand-800: oklch(48.15% 0.19 7.66);
	--color-brand-900: oklch(42.42% 0.163 6.22);
	--color-brand-700: oklch(55.23% 0.2197 8.14);

	--text-display: 3rem; /* 48px */
	--text-header: 2.25rem; /* 36px */
	--text-title-1: 1.75rem; /* 28px */
	--text-title-2: 1.375rem; /* 22px */
	--text-headline: 1.25rem; /* 20px */
	--text-body: 1rem; /* 16px */
	--text-caption: 0.875rem; /* 14px */

	--breakpoint-2xl: 1440px;
	--breakpoint-xs: 480;
}

@layer base {
	html,
	body {
		font-family: var(--font-default), Arial, Helvetica, sans-serif;
	}
}
