stages:
  - build
  - build_image
  - staging

build:
  stage: build
  image: node:14
  script:
    - echo "REACT_APP_NODE_PATH=src" >> .env
    - echo "REACT_APP_PORT=3000" >> .env
    - echo "REACT_APP_NODE_ENV=$REACT_APP_NODE_ENV" >> .env
    - echo "REACT_APP_API_URL=$REACT_APP_API_URL" >> .env
    - echo "REACT_APP_DOMAIN=$REACT_APP_DOMAIN" >> .env
    - npm install
    - npm run build
  artifacts:
    paths:
      - build/

build_docker_image:
  stage: build_image
  image: docker:19.03.12
  services:
    - docker:19.03.12-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  only:
    - main
  
deploy_to_staging:
  stage: staging
  image:
    name: bitnami/kubectl
    entrypoint: [""]
  script:
    - echo $KUBECONFIG_BASE64 | base64 -d > ./kubeconfig
    - export KUBECONFIG=$(pwd)/kubeconfig
    - sed -i "s/<VERSION>/$CI_COMMIT_SHORT_SHA/" k8s/staging/deployment.yaml
    - kubectl apply -f k8s/staging/namespace.yaml
    - kubectl apply -f k8s/staging/deployment.yaml
    - kubectl apply -f k8s/staging/service.yaml
    - kubectl apply -f k8s/staging/ingress.yaml
  only:
    - main
