.embla__slide {
    flex: 0 0 90%; /* Default slide covers 100% of the viewport */
    min-width: 0;
  }
  @media (min-width: 768px) {
    .embla__slide {
      flex: 0 0 33%; /* Breakpoint SM slide covers 50% of the viewport */
    }
  }