.scanner {
	aspect-ratio: 1;
	max-width: 560px;
	max-height: 560px;
	border-radius: 16px;
	overflow: hidden;
}

.scanner video {
	object-fit: cover;
}

.scanner svg {
	max-width: 100%;
	max-height: 100%;
	border: 0 !important;
	padding: 16px !important;
}

.scanner svg path {
	stroke: var(--color-brand-700) !important;
	stroke-width: 2px !important;
}
